mark {
  background-color: transparent;
  color: #4a4a4a;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title {
  font-size: 1.6em;
  font-weight: bold;
}

.typing {
  opacity: 0;
  font-size: 2rem;
  text-align: left;
  height: 1.6em;
  line-height: 1.2;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.3em;
}
