.brand-logo > img {
  width: 100%;
}

.email_block {
  display: inline-block;
  margin: 10px 15px 10px 15px;
  padding: 5px 0 4px 33px;
  background-image: url(../images/email_block.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 20px;
  font-size: 13px;
  color: #9a9281;
}

.phone_block {
  display: inline-block;
  margin: 10px 15px 10px 15px;
  padding: 5px 0 4px 33px;
  background-image: url(../images/phone_block.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 20px;
  font-size: 13px;
  color: #9a9281;
}

.slogan {
  color: #ccc;
  padding: 3px 0;
}

a.header-link-cart {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  width: 2em;
  height: 2em;
  line-height: 2.08em;
  border-radius: 50%;
  background-color: #a0a0a0;
  margin-right: 0.5em;
  padding-right: 0.15em;
  margin-top: 1em;

  &:hover {
    color: yellow;
  }
}
