.brand-logo > img {
  width: 100%;
}

.email_block {
  display: inline-block;
  margin: 30px auto;
  padding: 5px 0 4px 33px;
  background-image: url(../images/email_block.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 20px;
  font-size: 13px;
  color: #9a9281;
}

.email_block::before {
  content: 'Email: ';
}

.slogan {
  color: #ccc;
  padding: 3px 0;
}
